.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--timing-fun),
      visibility 250ms var(--timing-fun);
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
.backdrop.is-hidden .modal {
    transform: scale(0.9) translate(-50%, -50%);
  }
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 530px;
    height: 580px;
    background-color: #ffffff;
    transform: scale(1) translate(-50%, -50%);
    transition: background-color 250ms var(--timing-fun),
      transform 250ms var(--timing-fun);
  }
  .btn-close-modal {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms var(--timing-fun);
  }
  .btn-close-modal:hover,
  .btn-close-modal:focus {
    fill: var(--akcent-color);
  }
.form-modal {
  padding: 40px;
}
.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-input-wrapper {
  display: block;
  position: relative;
  padding: 0;
  margin-top: 4px;
  top: 50%;
  transform: translateY(-50%, -50%);
}

.modal-appeal {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--add-textcolor);
}
.form-input,
.comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-fun);
}
.form-input {
  height: 40px;
  padding: 12px 42px;
}
.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.form-input:focus,
.form-input:hover,
.comment:hover,
.comment:focus {
  outline: none;
  border-color: var(--akcent-color);
}
.icon-modal {
  fill: #000000;
  transition: fill 250ms var(--timing-fun);
}
.form-input:focus + .icon-modal,
.form-input:hover + .icon-modal {
  fill: var(--akcent-color);
}
.comment {
  margin-top: 4px;
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.text-agreement {
  color: var(--akcent-color);
}
.btn-send {
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.custom-checkbox-policy {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--add-textcolor);
  border-radius: 2px;
  transition: border-color 250ms var(--timing-fun),
    background-color 250ms var(--timing-fun);
}
.custom-checkbox-policy:hover {
  cursor: pointer;
  border-color: var(--akcent-color);
}
.checkbox-policy:checked + .custom-checkbox-policy {
  background-color: var(--akcent-color);
  background-image: url(../images/icon-check.svg);
  /* background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat; */
  border-color: var(--akcent-color);
}
.checkbox-policy:focus + .custom-checkbox-policy {
  border-color: var(--akcent-color);
}